.navbar{
    background-color: #003893;
    color: white;

}


h2{
    padding: 10px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}



.one{
    justify-content: center;
}



.booking{
    padding: 10px;
    margin: 10px;
}

.footer{
    background-color: #CE1126;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    padding: 15px;
}

